{% extends "diyexch_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>
    Register
</h1>
<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data" style="text-align: left;">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                See terms and conditions
            </button>
            <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form><br>
        <p class="text-info">Note: Entering a CC is not required, but you cannot borrow tools without one.</p>
    </div>
</div>
{% endblock content %}    