{% extends "diyexch_app/base.html" %}

{% block content %}
<h1>Home page for: {{ user.get_username }}</h1>

<p><a href="/app/profile">Profile</a></p>
<p><a href="/app/search">Tool Search</a></p>
<p><a href="/app/create_tool">Add Tool</a></p>

<!-- Display pending requests first -->
{% if req_list is not None %}

<h2<u>Pending Requests</u></h2>

{% for req in req_list %}

  <div class="card mb-3" style="max-width: 25em; margin: auto;">
    <h3 class="card-header">Borrow Request</h3>
    <div class="card-body">
      <p class="card-text">{{ req.borrower.username }} wants to borrow: {{ req.tool.name }} </p>
    </div>
    <div class="card-body">
      <a href="/app/tool_home/{{ req.tool.id }}/" class="card-link">Go to Tool</a>
    </div>
  </div>

{% endfor %}

{% endif %}

<!-- Display tool cards -->
<h2><u>My Tools</u></h2>
{% if my_tool_list is None %}

<p>You have not shared any tools yet.</p>

{% endif %}

{% for tool in my_tool_list %}

  <div class="card mb-3" style="max-width: 25em; margin: auto;">
    <h3 class="card-header">{{ tool.name }}</h3>
    <!-- <img src="{{ tool.tool_pic.url }}" alt="Image of {{ tool.name }}" class="card-img-top"> -->
    <div class="card-body">
      <p class="card-text">Item Description: {{ tool.description }}</p>
    </div>
    <div class="card-body">
      <a href="/app/tool_home/{{ tool.id }}/" class="card-link">Go to Tool</a>
    </div>
  </div>

{% endfor %}

{% endblock content %}