{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" />
  <title>DIY Tool Exchange</title>
</head>

<!-- Navbar base on users login status -->

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DIY Tool Exchange</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% if user.is_authenticated %}
      <!-- User is Authenticated -->
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Tool Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Site</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
              <a class="dropdown-item" href="{% url 'profile' %}">My Profile</a>
              <a class="dropdown-item" href="{% url 'about' %}">About</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Terms and Conditions</a>
            </div>
          </li>
        </ul>
        <form class="d-flex" action="{% url 'search' %}" method="POST">
          {% csrf_token %}
          <input class="form-control me-sm-2" type="text" placeholder="Tool Search" name="name">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      {% else %}
      <!-- User is NOT Authenticated -->
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">Terms and Conditions</a>
          </li>
        </ul>
      </div>
      {% endif %}
  </nav>
</header>


<body style="text-align: center;">
  <!-- loop through any error messages -->
  {% for eMsg in err_msgs%}
  <div class="alert alert-dismissible alert-primary">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Notice:</strong> {{ eMsg }}
  </div>
  {% endfor %}

  <!-- loop through any success messages -->
  {% for sMsg in succ_msgs %}
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Success!</strong> {{ sMsg }}
  </div>
  {% endfor %}

  <!-- Block content for templates -->
  {% block content %}
  {% endblock content %}

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Terms and Conditions</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: left;">
          I understand:
          <ul>
            <li>If I borrow a tool and do something stupid, it's my own fault.</li>
            <li>If I borrow a tool and break it, I have to pay for it.</li>
            <li>I should not do transactions with other users outside of the site.</li>
            <li>I should not exchange tools in sketchy places.</li>
            <li>I should not loan out broken or malfunctioning tools.</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>