{% extends "diyexch_app/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h1>Your Borrow Request</h1>
            <h4>Your request to borrow "{{ tool.name }}" is being processed.</h4>
                You will be contacted by the tool owner ( User: {{tool.owner.username}} ) to arrange the tool exchange.<br>
                Only meet during the day time.<br>
                Only meet in a secure public location where there are people and cameras.<br>
                Do not give out your banking or credit card information to other users.<br>
                Treat other peoples property as if it is your own.<br>
                You will be financially liable if you break a borrowed tool.<br>
            <p><a href='/app/account_home'>My Home</a></p>
        </div>
    </div>
</div>

{% endblock content %}