{% extends "diyexch_app/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>My User Profile</h2>

<p>
    <img src="{{ request.user.profile.profile_pic.url }}" width=100 alt="Image of {{ user.get_username }}"><br>
    Current Photo
</p>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy}}
            {{ profile_form|crispy }}
            <button type="submit">Submit</button>
        </form>
        <p>* CC info is needed in order to borrow a tool.</p>
        <p><a href="/app/account_home">Account Home</a></p>
    </div>
</div>

{% endblock content %}