{% extends "diyexch_app/base.html" %}

{% block content %}
<h2>Search for a Tool by Name</h2>
<form action="{% url 'search' %}" method="POST">
    {% csrf_token %} 
    <input type="text" name="name" placeholder="ex: Drill">
    <input type="submit" name="submit" value="Search">
</form><br>

<!-- display error message(s) -->
{% for msg in srch_error %} {# show search error messages #}
  <p>{{ msg }}</p>
{% endfor %}

<h2>{{ title }}</h2>

{% for tool in tool_list %} {# display tool cards #}

  {% if tool.visible %}
  <div class="card mb-3" style="margin:auto; max-width: 35em;">
    <div class="row g-0">
        <div class="col-sm-5">
          <img src="{{ tool.tool_pic.url }}" alt="Image of {{ tool.name }}" class="card-img img-thumbnail">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">{{ tool.name }}</h5>
                <p class="card-text">Item Description: {{ tool.description }}</p>
                <a href="/app/tool_home/{{ tool.id }}/" class="btn btn-primary stretched-link">Go to Tool</a>
            </div>
        </div>
    </div>
  </div>
  {% endif %}

{% endfor %}
{% endblock content %}